/* Regular customers */

.clients {
  color: var(--title-text-color);
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.clients-list {
  --items: 6;

  &__item {
    display: inline-block;
    width: 170px;
    height: 92px;
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--fill-color);
  border: 1px solid var(--fill-color);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }

  &:hover .clients-list__icon,
  &:focus .clients-list__icon {
    fill: var(--accent-color);
  }
}

.clients-list__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
