/* Functions */

.functions {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    --items: 3;
  }
}

.functions__item {
  position: relative;

  &-img {
    display: block;
  }
  &-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
    padding: 27px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
