.header {
  border-bottom: 1px solid var(--border-color-header);

  &__container {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: space-between;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
}

.link-item .link {
  padding-top: 32px;
  padding-bottom: 32px;
}
