/* Form */

.modal__title {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-form {
  color: var(--primary-text-color);

  &__label {
    display: flex;
    position: relative;
    margin-bottom: 10px;
    flex-direction: column;
  }

  &__label:last-of-type {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }
}

.modal-form__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  color: var(--title-text-color);

  &:focus + .modal-form__icon {
    fill: var(--accent-color);
  }

  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__icon {
  position: absolute;
  bottom: 12px;
  left: 15px;
}

.modal-form__comment {
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  padding: 12px 16px;

  &:focus {
    border-color: var(--accent-color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;

  &-label {
    display: flex;
    margin-left: 12px;
    align-items: center;
  }
}

.modal-form__agreement-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-text-color);
  outline-offset: -2px;
  border-radius: 2px;
  color: transparent;
  margin-right: 7px;

  &:focus {
    outline: 2px solid var(--accent-color);
  }
}

.modal-form__checkbox:checked + .modal-form__agreement-checkbox {
  outline-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.modal-form__agreement-icon {
  fill: currentColor;
}

.modal-form__agreement-txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form__agreement-link {
  color: var(--accent-color);
}
