/* Our team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--title-text-color);
  background: var(--secondary-background);

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}

.team-list {
  --items: 4;

  &__img {
    display: block;
  }

  &__desc {
    padding: 30px 32px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    text-align: center;
    margin-bottom: 10px;
  }

  &__position {
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}

.socials-list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .socials-list__icon,
  &:focus .socials-list__icon {
    fill: var(--primary-white-color);
  }
}

.socials-list__icon {
  fill: var(--fill-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
